<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴판</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://kit.fontawesome.com/a3ff865f92.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("nav.ejs") %>

    <!-- 안내 문구 -->
    <span class="total-qty">안내 문구</span>

    <!-- 메뉴 리스트 -->
    <div class="menu-section">
      <% menus.forEach((menu, i) => { %>
      <div class="list-box" data-name="<%= menu.name %>" data-price="<%= menu.price %>" data-menuid="<%= menu.menuId %>">
        <div class="menu-info">
          <h4><%= menu.menuName %></h4>
          <p class="price"><%= menu.price.toLocaleString() %>원</p>
        </div>
        <div class="qty-control">
          <button class="qty-btn minus">
            <i class="fas fa-trash"></i>
            <span class="minus-text" style="display: none">-</span>
          </button>
          <span class="qty"><%= menu.qty %></span>
          <button class="qty-btn plus">+</button>
        </div>
      </div>
      <% if (i !== menus.length - 1) { %>
      <div class="menu-divider"></div>
      <% } %> <% }) %>
    </div>
    <div class="section-divider"></div>

    <!-- 주문하기 버튼 -->
    <div class="order-bar">
      <button id="order" class="order-button">주문하기</button>
    </div>

    <script src="/cart.js"></script>
  </body>
</html>
