<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴판</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://kit.fontawesome.com/a3ff865f92.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("nav.ejs") %>

    <!-- 메뉴 리스트 -->
    <div class="menu-section">
      <!-- 안내 문구 -->
      <h3 class="total-qty notice">선택한 메뉴 n개</h3>
      <% menus.forEach((menu, i) => { %>
      <div class="cart-items list-box" data-name="<%= menu.name %>" data-price="<%= menu.price %>" data-menuid="<%= menu.menuId %>">
        <div class="menu-info">
          <h4><%= menu.menuName %></h4>
          <p class="price"><%= menu.price.toLocaleString() %>원</p>
        </div>
        <div class="cart-item qty-control">
          <button class="qty-btn minus">
            <i class="fa-regular fa-trash-can fa-2xs"></i>
            <span class="minus-text" style="display: none"><i class="fa-solid fa-minus fa-2xs"></i></span>
          </button>
          <span class="qty"><%= menu.qty %></span>
          <button class="qty-btn plus"><i class="fa-solid fa-plus fa-2xs"></i></button>
        </div>
      </div>
      <% if (i !== menus.length - 1) { %>
      <div class="menu-divider"></div>
      <% } %> <% }) %>
    </div>
    <div class="section-divider"></div>
    <div id="toast" class="toast-msg"></div>

    <!-- 주문하기 버튼 -->
    <div class="bottom-bar">
      <a href="/payment" id="order" class="bottom-button">주문하기</a>
    </div>

    <script src="/cart.js"></script>
    <script>
      // smartSticky.js
      window.addEventListener('DOMContentLoaded', () => {
        const bar = document.querySelector('.bottom-bar');
        if (!bar) return;

        const isScrollable = document.body.scrollHeight > window.innerHeight;
        if (!isScrollable) {
          bar.style.position = 'fixed';
        } else {
          bar.style.position = 'sticky';
        }
      });
    </script>
  </body>
</html>
